$contentBackground: url("../img/header_background_v1.jpg");
$font: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$bodyBackground: #ffffff;
$headerColor: #ffffff;
$buttonColor: #ffffff;
$buttonBackground: #01acac;
$bodyColor: #000000;
$borderColor: #607d8b;
$articleBackground: #efefef;
$postDescriptionColor: #ea0303;
$articleNameColor: #0097a7;
$labelColor: #01acac;